body {
/* Background pattern from subtlepatterns.com */
	background-image: url("escheresque_ste.png");
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.heading {
	text-align: center;
	color: #d3d3d3;
}

.textbox {
	float: right;
	background-color: #d3d3d3;
	padding: 30px;
	width: 400px;
	border-radius: 25px;
	text-align: center;
	margin-right: 300px;
}

.photo {
	border-radius: 10px;
}

a {
	color: #454343;
}

.info {
	background-color: white;
	border-radius: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#portfoliodiv {
	text-align: center;
	color: white;
}

#contactsdiv {
	color: white;
	text-align: center;
}

.button {
	width: 200px;
}

@media (min-width: 400px) {
	body{
	display: block;
	}
}

@media (min-width: 550px) {
	body{
	display: block;
	}
}
