body {
/* Background pattern from subtlepatterns.com */
	background-image: url("escheresque_ste.png");
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.heading {
	text-align: center;
	color: #d3d3d3;
}

.textbox {
	margin: 0 auto;
	background-color: #d3d3d3;
	padding: 30px;
	width: 400px;
	border-radius: 25px;
	text-align: center;
	border: 2px solid black;
}

.picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	border: 2px solid black;
	height: 300px;
	width: 450px;
}


a {
	color: #454343;
}